<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="../stylesheets/arrange.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div>
        <div class="masonry-grid">
            <% posts.forEach(function(post){ %>
                <a href="/seepost/<%= post._id %>" class="masonry-item">
                    <img src="../images/uploads/<%= post.postImage %>" alt="">
                    <h4>Title: <%= post.postTitle %></h4>
                    <h5>Username: @ <%= post.user.username %></h5>
                    <h5>No. of Pins: <%= post.pins %></h5>
                </a>
            <% }) %>
        </div>
    </div>
</body>
</html>