<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Pins</title>
    <link rel="shortcut icon" href="../images/pinterest.png" type="image/x-icon">
    <link rel="stylesheet" href="../stylesheets/arrange.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="masonry-grid">
        <% if(user.pins.length > 0) { %>
            <% user.pins.forEach(function(pin){ %>
                <a href="" class="masonry-item">
                    <img src="../images/uploads/<%= pin.postImage %>" alt="">
                    <h4><%= pin.postTitle %></h4>
                    <h5>@<%= user.username %> - <%= pin.pins %> Pins</h5>
                </a>
            <% }) %>
        <% } %>
    </div>
    <% if(user.pins.length == 0) {%>
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 50px;">
            <img style="width: 400px; height: 300px;" class="noboard" src="../images/savedpins.png" alt="">
        </div>
    <% } %>
    <div class="adddiv">
        <a class="add" href="/feed"><i class="fa fa-plus"></i>Add Pins</a>
    </div>
</body>
</html>