<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.fullname %></title>
    <link rel="shortcut icon" href="../images/pinterest.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="profpage">
        <h1>Welcome to your Profile</h1>
        <div class="dp">
            <img src="../images/uploads/<%= user.dp %>" alt="">
            <i class="fa fa-pencil" id="dplink"></i>
        </div>
        <form id="dpform" hidden action="/uploaddp" method="post" enctype="multipart/form-data">
            <input type="file" name="dp" id="dp">
            <button type="submit" id="dpbutton"></button>
        </form>
        <h3>Name: <%= user.fullname %></h3>
        <h4>Username: @<%= user.username %></h4>
        <div class="edde">
            <a href="/editprofile" class="edit">
                <i class="fa fa-pencil"></i>
                <label>Edit Details</label>
            </a>
            <a href="/deleteuser" class="delete">
                <i class="fa fa-trash"></i>
                <label>Delete User</label>
            </a>
        </div>
    </div>
    <script src="../javascripts/profile.js"></script>
</body>
</html>