<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= boards.boardName %></title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
    <a href="/addpost/<%= boards._id %>">Add Post</a>
    <div class="masonry-grid">
        <% if(boards.posts.length == 0) { %>
        <div>
            No posts yet
        </div>
        <% } else { %>
        <% boards.posts.forEach(function(post) { %>
            <a href="/yourpost/<%= post._id %>" class="masonry-item">
                <img src="../images/uploads/<%= post.postImage %>" alt="">
                <h4><%= post.postTitle %> - <%= post.pins %> Pins</h4>
            </a>
        <% })} %>
    </div>
    <a href="/profile">Go back</a>
</body>
</html>